:root {
  /* Theme: dark (default) */
  --dark-bg: rgb(36, 36, 36);
  --dark-color: rgb(236, 236, 236);
  --dark-trans-bg: rgba(0, 0, 0, 0.45);
  --dark-trans-color: rgb(242, 242, 242);
  /* Theme: light */
  --light-bg: rgb(224, 224, 224);
  --light-color: rgb(28, 28, 28);
  --light-trans-bg: rgba(255, 255, 255, 0.45);
  --light-trans-color: rgb(24, 24, 24);
  /* Theme: neutral */
  --neutral-bg: rgba(155, 155, 155);
  --neutral-color: rgb(28, 28, 28);
  --neutral-trans-bg: rgba(155, 155, 155, 0.45);
  --neutral-trans-color: rgb(14, 14, 14);

  /* Default colors */
  --bg: var(--dark-bg);
  --color: var(--dark-color);
  --trans-bg: var(--dark-trans-bg);
  --trans-color: var(--dark-trans-color);

  /* Additional */
  --space-outer: 0.5rem;
  --xmsg-pad: 0.5rem;
  --msg-width: 18.125rem;
  --shift-size: 5rem;
  --shift-pad: 0rem;
  --chat-pad: 0rem;
  --chat-br: 0rem;
  --chat-bg: transparent;
  --chat-color: var(--color);
  --msg-bg: transparent;
  --msg-animation: none;
  --msg-transform: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html[data-theme="dark"] {
  --bg: var(--dark-bg);
  --color: var(--dark-color);
  --trans-bg: var(--dark-trans-bg);
  --trans-color: var(--dark-trans-color);
}

html[data-theme="light"] {
  --bg: var(--light-bg);
  --color: var(--light-color);
  --trans-bg: var(--light-trans-bg);
  --trans-color: var(--light-trans-color);
}

html[data-theme="neutral"] {
  --bg: var(--neutral-bg);
  --color: var(--neutral-color);
  --trans-bg: var(--neutral-trans-bg);
  --trans-color: var(--neutral-trans-color);
}

html[data-chat-bg="glass"] {
  --chat-pad: var(--space-outer);
  --chat-br: 0.25rem;
  --chat-bg: var(--trans-bg);
  --chat-color: var(--trans-color);
}

html[data-chat-bg="solid"] {
  --chat-pad: var(--space-outer);
  --chat-br: 0.25rem;
  --chat-bg: var(--bg);
  --chat-color: var(--color);
}

html[data-msg-bg="glass"] {
  --msg-bg: var(--trans-bg);
}

html[data-msg-bg="solid"] {
  --msg-bg: var(--bg);
}

html[data-animation="fadein"] {
  --msg-animation: fadein 2s ease;
}

html[data-animation="movetl"] {
  --shift-pad: var(--shift-size);
  --msg-animation: movetl 1s ease;
}

html[data-animation="movetr"] {
  --shift-pad: var(--shift-size);
  --msg-animation: movetr 1s ease;
  --msg-transform: translateX(var(--shift-size));
}

html[data-animation="shake"] {
  --msg-animation: shake 0.6s ease 0s 1;
}

html[data-placeholder="true"] {
  --chat-bg: repeating-linear-gradient(45deg, transparent 0 32px, #000 32px 64px), var(--trans-bg);
}

h4 {
  margin-block: 0.5rem;
}

a {
  color: #12909e;
}

svg {
  vertical-align: middle;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
}

.chat {
  overflow: hidden;
  font-family: sans-serif;
  font-size: 0.875rem;
  color: var(--chat-color);
  background: var(--chat-bg);
  padding: var(--chat-pad);
  max-width: calc(var(--shift-pad) + var(--chat-pad) * 2 + var(--msg-width) + var(--xmsg-pad) * 2);
  width: 100%;
  height: 100%;
  border-radius: var(--chat-br);
  display: flex;
  flex-direction: column;
  gap: 0.175rem;
}

.chat:hover {
  overflow-y: auto;
}

.card {
  margin: auto;
  text-align: center;
  overflow: hidden;
  overflow-wrap: anywhere;
  width: fit-content;
  background-color: var(--msg-bg);
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
}

.error {
  text-align: left;
}

.msg {
  flex-shrink: 0;
  overflow: hidden;
  max-width: calc(var(--msg-width) + var(--xmsg-pad) * 2);
  width: max-content;
  padding: 0.1875rem var(--xmsg-pad);
  border-radius: 0rem 0.25rem 0.25rem 0.25rem;
  background-color: var(--msg-bg);
  animation: var(--msg-animation);
  transform: var(--msg-transform);
}

.msg.highlighted {
  background-color: rgb(49, 176, 155);
}

.reply {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0.125rem;
  font-size: 0.8125rem;
}

.del {
  opacity: 0.75;
}

.meta {
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 0.1875rem;
  padding: 0rem 0.125rem 0.125rem;
  border-radius: 0.1875rem;
  max-width: var(--msg-width);
  background-color: var(--bg);
}

.author {
  margin-left: 0.125rem;
  width: 100%;
  font-weight: 700;
}

.time {
  font-size: 0.75rem;
  opacity: 0.675;
}

.spec {
  font-size: 0.75rem;
  margin-left: 0.125rem;
  color: rgb(183, 183, 70);
}

.emote {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: none;
}

.text {
  padding-top: 0.4375rem;
  overflow: hidden;
  overflow-wrap: anywhere;
  max-width: var(--msg-width);
  line-height: 1.2rem;
}

@keyframes movetl {
  from {
    opacity: 0;
    transform: translateX(var(--shift-size));
  }
  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes movetr {
  from {
    opacity: 0;
    transform: translateX(0rem);
  }
  to {
    opacity: 1;
    transform: translateX(var(--shift-size));
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(calc(var(--space-outer) / -2));
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(calc(var(--space-outer) / 2));
  }
}
